rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow public read access, but only content owners can write
    match /User/{userId} {
   		allow read: if request.auth.uid == userId;
      allow update: if request.auth.uid == userId;
		}
	}
}